.reveal .slides {
	background-image: url("../images/osp_logo_rgba70.png");
	background-repeat: no-repeat;
  background-position: right top;
}

.reveal section.title h1, .reveal section h2 {
    color: #e11f1f;
    text-transform: none;
}

.reveal section img { border: none; }
.reveal h1 { font-size: 2em; }
.reveal dt { font-size: 80%; }
.reveal p { font-size: 90%; }
